* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  background-color: rgb(0, 0, 0, 0.5);
  min-height: 100vh;
  width: auto;
}

body {
  background: url(../../public/mainBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  margin: 0;
}

.app {
  margin: auto;
  width: 80%;
}

.appHeader {
  align-items: center;
  color: #ffffff;
  display: flex;
  height: 100px;
  justify-content: flex-end;
  width: 95%;
}

.navBar {
  display: flex;
  font-weight: 600;
}

.navBarItems {
  color: #ffffff;
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.navBarItems:last-child {
  margin-right: 0;
}

.navBarItems:after {
  bottom: 0;
  background-color: #ef5454;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  width: 100%;
}

.navBarItems:hover {
  cursor: pointer;
}

.navBarItems:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
